.navContainer{
    height: 60px;
    width: 100vw;
    color:white;
    box-sizing: border-box;
    background-image: linear-gradient(97deg,#ff7a6e,#ff9770);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.leftNav{
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
    width: 200px;
}
.appName{
font-size:2em;
font-weight: bold;
}
.homeButton, .navSearchButton{
    color:white;
    text-decoration: none;
    font-size:1.2em;
}
.pageName{
    margin: 0 20px;
    font-size:1.3em;
}
.logoutButton{
    width: 200px;
    font-size:1.5em;
    
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right:30px;
}
