.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 0px;
  background-color: #f2f2f2;
  
}
h1{
  background: -webkit-linear-gradient(#FF9900, #F700FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}